node_modules
**/node_modules
dist
**/dist
.git
.turbo
**/.turbo
.github
npm-debug.log
pnpm-debug.log*
.env
.env.*
*.md
LICENSE
.prettierrc
.nvmrc
eslint.config.js
.npmrc
.pnpmrc
*.key
*.pem
.aws
.ssh
