# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# build output
dist
logs

# IDE
.idea
.vscode

# we only want pnpm-lock.yaml
package-lock.json
